{% extends "account/accountBase.html" %} 
{% load static %}

{% load i18n %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="py-20 ">
    <div class="flex flex-col justify-center text-center ">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>
  </div>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="flex justify-center text-center">
  <a href="{% url 'dashboard' %}"class=" no-underline text-white rounded-lg border bg-green-500 w-44 h-15 p-2 m-2 mt-5 text-white hover:bg-green-600 ">Go Back</a>
  <button  class="rounded-lg border border-main-2 bg-red-500 w-44 h-15 p-2 m-2 mt-5 text-white hover:bg-red-600 " type="submit">{% trans 'Sign Out' %}</button>
</div>
</div>
</form>
</div>




{% endblock %}
