{% extends "account/accountBase.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="py-20 ">
    <div class="flex flex-col justify-center text-center ">
        <h1>{% trans "Change Password" %}</h1>
    </div>
    <form class="flex justify-center" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="flex flex-col drop-shadow-lg main1 p-20 text-white"> 
        {{ form|crispy}}
        <a class="mt-10" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button  class="rounded-lg border main2 w-44 h-15 p-2 m-2 mt-5 text-white hover:bg-accent-3 " type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}
