{% extends "base/accountBase.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="form-container">
    <div class="d-flex flex-column justify-content-center align-items-center ">
      <div class="d-flex flex-column align-items-center">
        <h1 class="font-extrabold ">{% trans "Change Password" %}</h1>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center ">
    <form class="flex justify-center" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
          {% if form.errors %}
        <div class="alert alert-warning">
          <ul class="alert-message">
            {% for key, value in form.errors.items %}
              <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <a class="url" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button  class="" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
     <div class="">This app is powered by UZO</div>
      </div>
    </div>
  </div>
{% endblock %}
