{% extends "base/accountBase.html" %}
{% load static %}
 {% load i18n %} 
 {% block head_title %}
 {% trans "Signup" %}
 {% endblock %}
  {% block content %}
  <div class="form-container">
    <div class="d-flex flex-column justify-content-center align-items-center ">
      <div class="d-flex flex-column align-items-center">
        <h1 class="font-extrabold ">{% trans "Sign Up" %}</h1>

        <p class="text">
          {% blocktrans %}Already have an account? Then please
          <a class="url" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
      </div>
        
      <div class="d-flex flex-column justify-content-center align-items-center ">
        <form 
          method="post"
          action="{% url 'account_signup' %}"
        >
          {% csrf_token %}
           {% if form.errors %}
        <div class="alert alert-warning">
          <ul class="alert-message">
            {% for key, value in form.errors.items %}
              <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
           {% for field in form %}
              {{ field }}
            {% endfor %}
          {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button class="rounded-lg border main2 w-auto h-15 p-2 m-2 mt-5 text-white " type="submit">{% trans "Sign Up" %} &raquo;</button>
          
        </form>
        <div class="">This app is powered by UZO</div>
      </div>
    </div>
  </div>
    

{% endblock %}
