{% extends "account/accountBase.html" %}
{% load static %}
{% load crispy_forms_tags %}
 {% load i18n %} 
 {% block head_title %}
 {% trans "Signup" %}
 {% endblock %}
  {% block content %}
  <div class="container mx-auto py-20 ">
    <div class="flex flex-col justify-center text-center ">
      <h1 class="">{% trans "Sign Up" %}</h1>

      <p>
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
    </div>
      

    <form  class="flex justify-center align-items-center"
      method="post"
      action="{% url 'account_signup' %}"
    >
      {% csrf_token %} 
      <div class="flex flex-col drop-shadow-lg main1 p-10 w-auto text-white"> 
       {{form|crispy }}
       
      {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <button class="rounded-lg border main2 w-auto h-15 p-2 m-2 mt-5 text-white " type="submit">{% trans "Sign Up" %} &raquo;</button>
      </div> 
    </form>
  </div>
    

{% endblock %}
