{% extends 'base/client_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
   Create profiles
{% endblock title %}

{% block content %}
<div class="form-container">
    <div class="d-flex flex-column justify-content-center align-items-center ">
      <div class="d-flex flex-column align-items-center">
        <h1 class="font-extrabold ">{% trans "Create profiles" %}</h1>

        <p class="text">
          {% blocktrans %}Your information is safe and secure with us
         {% endblocktrans %}
        </p>
      </div>
        
      <div class="d-flex flex-column justify-content-center align-items-center ">
   <form 
          method="post"
          action=""
        >
          {% csrf_token %}
           {% if form.errors %}
        <div class="alert alert-warning">
          <ul class="alert-message">
            {% for key, value in form.errors.items %}
              <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
           {% for field in form %}
              {{ field }}
            {% endfor %}
          {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button class="" type="submit">{% trans "Save Edit" %} &raquo;</button>
          
   </form>
   <div class="">This app is powered by UZO</div>
{% endblock content %}
   
   